# This workflow will trigger the following actions on a PR into the main branch:
# - Ruff linter
# - Mypy type checking
# - All unit tests

name: CI

on:
  pull_request:
    branches: [main]

jobs:

  lint:
    name: Ruff linting
    runs-on: ubuntu-latest
    steps:
      - name: Install Poetry
        run: pipx install poetry
      - name: File checkout
        uses: actions/checkout@v4
      - name: Install Python
        uses: actions/setup-python@v5
        with:
          python-version: "3.11"
      - name: Cache Poetry dependencies
        uses: actions/cache@v4
        with:
          path: ~/.cache/pypoetry
          key: ${{ runner.os }}-poetry-${{ hashFiles('**/poetry.lock') }}
          restore-keys: |
            ${{ runner.os }}-poetry-
      - name: Run linter
        run: |
          poetry install --only lint
          poetry run ruff check --output-format=github --target-version=py311 .
      - name: Check formatting with Ruff
        run: poetry run ruff format --check .

  test:
    name: Run unit tests
    runs-on: ubuntu-latest
    needs: lint
    steps:
    - name: Install Poetry
      run: pipx install poetry
    - name: File checkout
      uses: actions/checkout@v4
    - name: Install Python
      uses: actions/setup-python@v5
      with:
        python-version: "3.11"
    - name: Cache Poetry dependencies
      uses: actions/cache@v4
      with:
        path: ~/.cache/pypoetry
        key: ${{ runner.os }}-poetry-${{ hashFiles('**/poetry.lock') }}
        restore-keys: |
          ${{ runner.os }}-poetry-
    - name: Install dependencies
      run: |
        poetry install --with test
    - name: Execute tests
      run: poetry run pytest